.newMinterAccount {
  display: flex; 
  flex-direction: column; 
  height: 100vh;
  .avaHolder {
    background: #ff702a;
    >DIV {
      border-radius: 1em 1em 0 0;
    }
  }
  .avaButtonsHolder {
    display: flex;
    justify-content: center;
    A {
      display: block;
      width: 40%;
      text-align: center;
      cursor: pointer;
      margin: 0.5em;
      background: #007bff;
      font-size: 14px;
      padding: 8px 10px;
      text-decoration: none;
      border-radius: 0.25rem;
      color: #FFF;
      font-weight: bold;
    }
  }
  .infoBlock {
    background: #ff702a;
    border-radius: 1em 1em 0 0;
    margin-top: -1em;
    padding: 2em;
    flex: 1 1 auto; 
  }
}