.qrcodeTitleHolder {
  background: #ff702a;
  .qrcodeTitle {
    background: #020202;
    color: #FFF;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 1em 1em 0 0;
  }
}