.minterPanel {
  display: flex; 
  flex-direction: column; 
  height: 100vh;
  .mintButtonHolder {
    background: #ff702a;
    
    .mintButton {
      display: flex;
      text-align: center;
      cursor: pointer;
      margin: 0;
      background: #007bff;
      font-size: 20px;
      padding: 1em;
      text-decoration: none;
      border-radius: 1rem 1rem 0 0;
      color: #FFF;
      font-weight: bold;
      justify-content: center;
      align-items: center;
    }
  }
  
  .avaButtonsHolder {
    display: flex;
    justify-content: center;
    A {
      display: block;
      width: 40%;
      text-align: center;
      cursor: pointer;
      margin: 0.5em;
      background: #007bff;
      font-size: 14px;
      padding: 8px 10px;
      text-decoration: none;
      border-radius: 0.25rem;
      color: #FFF;
      font-weight: bold;
    }
  }
  .summaryInfo {
    background: #ff702a;
    border-radius: 1em 1em 0 0;
    margin-top: -1em;
    flex: 1 1 auto; 
    >DIV {
      padding: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #FFF;
      font-weight: bold;
      font-size: 12pt;
      border-bottom: 1px solid #FFF;
      &:first-child {
        padding-top: 1em;
      }
      >DIV {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        >SPAN {
          cursor: pointer;
        }
      }
      >DIV>A {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        color: #FFF;
        EM {
          font-style: normal;
          text-decoration: underline;
        }
        SVG {
          width: 1.5em;
          height: 1.5em;
          margin-left: 0.5em;
        }
      }
    }
  }
}