BODY {
  background: url('/assets/bg.png');
  background-color: #f8fcff;
  background-repeat: no-repeat;
  font-family: Arial;
  font-size: 12pt;
  padding: 0;
  margin: 0;
}

A {
  color: #004f99;
  text-decoration: none;
}
A:hover {
  text-decoration: underline;
}

/* Admin table */
.adminTable {
  border-radius: 5px;
  border: 1px solid #1485db;
  box-shadow: 0px 0px 5px 1px #1485db;
  margin: 10px;
}
.adminTable::before,
.adminTable::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #f9fafb;
}
.adminTable::before {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.adminTable::after {
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.adminTable TABLE {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  min-width: 100%;
}
.adminTable TABLE THEAD {
  background-color: #f9fafb;
}
.adminTable TABLE TBODY {
  background: #fff;
}
.adminTable TABLE THEAD TR {
  border-bottom: 1px solid #b8c9d9;
}
.adminTable TABLE THEAD TD {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}
.adminTable TABLE TBODY TR {
  border-bottom: 1px solid #b8c9d9;
}
.adminTable TABLE TR TD {
  border-left: 1px solid #b8c9d9;
  border-right: 1px solid #b8c9d9;
}
.adminTable TABLE TR TD:first-child {
  border-left: 0px;
}
.adminTable TABLE TR TD:last-child {
  border-right: 0px;
}
.adminTable TABLE TBODY TR:last-child {
  border: none;
}
.adminTable TABLE TBODY TD {
  padding: 1em;
  font-size: 12pt;
}
.adminTable.isLoading TABLE {
  position: relative;
}
.adminTable.isLoading TABLE::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: -5px;
  right: 0px;
  bottom: -5px;
  background: #11719e14;
}
.adminTable.isLoading TABLE::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -5em;
  margin-left: -5em;
  width: 10em;
  height: 10em;
  background-image: url(/assets/loader.svg);
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}
/* Admin Form */
.adminForm {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #1485db;
  box-shadow: 0px 0px 5px 1px #1485db;
  border-radius: 5px;
  background: #fff;
  position: relative;
}
.adminForm.isLoading::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: #11719e14;
}
.adminForm.isLoading::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -5em;
  margin-left: -5em;
  width: 10em;
  height: 10em;
  background-image: url(/assets/loader.svg);
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}
.adminForm HEADER {
  font-size: 16pt;
  font-weight: bold;
  padding: 1em;
  color: #333;
  background: #f9fafb;
  border-bottom: 1px solid #1485db;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.adminForm .inputHolder {
  display: block;
  padding: 1em;
  padding-bottom: 0;
}
.adminForm .inputHolder LABEL {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
  color: #26334e;
}
.adminForm .inputHolder LABEL.required::after {
  content: "*";
  padding-left: 0.25em;
  color: #e80000;
}

.adminForm .inputHolder .inputWithButtons {
  display: flex;
}
.adminForm .inputHolder .inputWithButtons BUTTON {
  height: auto;
}
.adminForm .inputHolder INPUT[type="text"],
.adminForm .inputHolder INPUT[type="number"],
.adminForm .inputHolder TEXTAREA,
.adminForm .inputHolder SELECT {
  height: 3em;
  line-height: 3em;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #8daccb;
  border-radius: 5px;
  font-size: 12pt;
  box-shadow: inset 0px 0px 3px 0px #397793;
  width: 100%;
  box-sizing: border-box;
}
.adminForm .inputHolder TEXTAREA {
  line-height: 1em;
  padding: 1em;
  min-height: 5em;
}

.adminForm .redInfoBox,
.adminForm .greenInfoBox {
  font-size: 16pt;
  font-weight: bold;
  padding: 1em;
  margin: 1em;
  color: #333;
  background: #aae3a3;
  border: 1px solid #14db4b;
  border-radius: 5px;
  text-align: center;
}

.adminForm .redInfoBox {
  background: #b81e1e;
  border: 1px solid #9b0404;
  color: #fff;
}

.adminForm .smallBox {
  padding: 0.5em;
  font-size: 12pt;
}

.adminForm .formGroup {
  margin: 0.5em;
  padding: 0.25em;
  border: 1px solid #595959;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00000042;
}

.adminForm .inputHolder INPUT[type="text"]:focus,
.adminForm .inputHolder INPUT[type="number"]:focus {
  border: 1px solid #0d5dae;
}
.adminForm .inputHolder INPUT[type="text"].hasError,
.adminForm .inputHolder INPUT[type="number"].hasError {
  border: 1px solid #cf0505;
  box-shadow: inset 0px 0px 3px 0px #8d0505;
}

.adminForm .inputHolder .infoRow {
  padding-left: 1em;
}

.adminForm .inputHolder .infoRow.hasError {
  color: #e80000;
}

.adminForm .inputHolder .error {
  padding-left: 0.5em;
  padding-top: 0.5em;
  font-size: 12pt;
  color: #c40303;
}
.adminForm .buttonsHolder {
  margin-top: 1em;
  padding: 1em;
  border-top: 1px solid #1485db;
  text-align: right;
  background: #f9fafb;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.adminForm BUTTON {
  box-sizing: border-box;
  height: 3em;
  line-height: 2em;
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background: #0a3cac;
  border: 1px solid #0a3cac;
  cursor: pointer;
  margin-left: 5px;
}
.adminForm BUTTON.isCancel {
  background: #FFF;
  color: #000;
  border: 1px solid #5f5d5d;
}
.adminForm BUTTON:hover,
.adminForm BUTTON:active {
  box-shadow: 0px 0px 5px hsl(0deg 0% 0% / 60%);
  background: #2359d1;
}
.adminForm BUTTON.isCancel:hover,
.adminForm BUTTON.isCancel:active {
  background: #dadada;
}
.adminForm BUTTON.isRed {
  background: #ac1212;
  border: 1px solid #ac1212;
}
.adminForm BUTTON.isRed:hover {
  background: #c61e1e;
}
.adminForm BUTTON.isGreen {
  background: #046204;
  border: 1px solid #046204;
}
.adminForm BUTTON.isGreen:hover {
  background: #147514;
}
.adminForm BUTTON:disabled {
  background: #8c8686 !important;
  cursor: default;
  color: #fff !important;
  box-shadow: none;
}