.climerWithdrawPanel {
  display: flex;
  height: 100vh;
  flex-direction: column; 
  
  
  .titleHolder {
    background: #ff702a;
    .title {
      background: #020202;
      color: #FFF;
      text-align: center;
      font-size: 12pt;
      font-weight: bold;
      padding: 0.5em;
      border-radius: 1em 1em 0 0;
    }
  }
  
  .balanceHolder {
    position: relative;
    background: #020202;
    padding: 1em;
    color: #FFF;
    &::before {
      content: '';
      background: #ff702a;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 1em;
    }
    &::after {
      content: '';
      background: #020202;
      position: absolute;
      border-radius: 0 0 1em 1em;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 1em;
    }
    
    DIV {
      text-align: center;
      font-weight: bold;
      font-size: 14pt;
    }
    STRONG {
      display: block;
      text-align: center;
      padding-top: 0.25em;
      font-size: 36pt;
      color: #007bff;
    }
    EM {
      display: block;
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 14pt;
      padding-top: 0.25em;
    }
  }
  .walletInfo {
    background: #ff702a;
    padding: 1em;
    flex: 1 1;
    
    .title {
      text-align: center;
      font-weight: bold;
      color: #000000;
      font-size: 14pt;
    }
    .walletAddress {
      box-sizing: border-box;
      color: #000000;
      background: #feeee7;
      font-size: 14px;
      font-weight: bold;
      outline: none;
      padding: 0.5em;
      width: 100%;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
      border-radius: 0.5em;
      border: 1px solid #007bff;
      box-shadow: 0px 0px 0.25em 0px #007bff;
    }
    .connectWalletButton,
    .widthdrawButton {
      display: block;
      width: 100%;
      text-align: center;
      cursor: pointer;
      background: #007bff;
      font-size: 14px;
      padding: 8px 10px;
      text-decoration: none;
      border-radius: 0.25rem;
      color: #FFF;
      font-weight: bold;
      box-sizing: border-box;
      &.buttonDisabled {
        background: #7b7b7b;
      }
    }
    
    .swapStatus {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 1em;
      DIV {
        width: 14px;
        height: 14px;
        border-width: 4px;
      }
      SPAN {
        display: block;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 12pt;
        font-weight: bold;
        color: #01264e;
      }
    }
    .swapStatusDetails {
      UL {
        list-style: none;
        padding: 0;
        margin: 0;
        
        LI {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          margin-bottom: 0.5em;
          SVG {
            display: block;
            width: 24px;
            height: 24px;
            fill: #046304;
          }
          EM {
            isplay: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 3px solid;
            border-color: #dbdcef;
            border-right-color: #007bff;
            animation: Withdraw_stepAnimation__5z8lt 1s infinite linear;
            margin-left: 2px;
          }
          @keyframes stepAnimation {
             to {
                transform: rotate(1turn);
             }
          }
          SPAN {
            display: block;
            font-size: 12pt;
            font-weight: bold;
            margin-left: 0.25em;
          }
        }
      }
    }
  }
}